/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.head_container {
    background-color: rgb(237 242 247);
}
.main_header {
    margin: auto;
    width: 1500px;
}

.main_header .logo_img {
    margin: auto;
    display: block;
}

/* MAIN SECTION */
.main_container {
    width: 60%;
    background-color: rgb(237 242 247);
    margin: auto;
    margin-top: 50px;
    border-radius: 5px 5px 0 0;
}

/* SEARCH BAR */
.search_container {
    padding: 20px;
    text-align: center; 
}

.button_style {
    background-color: rgb(20 170 245);
    color: white;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 15px;
}

.search_input {
    padding: 10px;
}

.round_corn {
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
}

hr {
    border-top: 2px solid white;
}

/* TODO LIST */
.todo_list {
    padding: 20px;
    list-style-type: none;
}

.macro_todo {
    font-size: 18px;
    font-weight: 800;
}

.article_style {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.edit_style {
    color: white;
    background-color:rgb(20 170 245);
    padding: 5px;
    border-radius: 15px;
}

.line_thr {
    text-decoration: line-through;
}

.li_box {
    padding: 20px 0 0 0;
}